[Unit]
Description=Dispatcher daemon for systemd-networkd
DefaultDependencies=no
After=systemd-udevd.service network-pre.target systemd-sysusers.service systemd-sysctl.service dbus.service
Before=systemd-networkd.service

[Service]
Type=notify
ExecStart=/usr/bin/networkd-dispatcher $networkd_dispatcher_args

# Load /etc/conf.d/networkd-dispatcher.conf
EnvironmentFile=-/etc/conf.d/%p.conf

[Install]
WantedBy=systemd-networkd.service
